{% extends 'base_header_footer.html' %}
{% load bootstrap3 %}

{% block title %}
{% endblock %}

{% block content %}

{% bootstrap_messages %}

<div id="login-form">
  <!-- {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %} -->

  {% if next %}
      {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
      {% else %}
      <!-- <p>Please login to see this page.</p> -->
      {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}">
  {% csrf_token %}
  {% bootstrap_form form show_label=False %}

  <!-- <div>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
  </div>
  <div>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
  </div> -->

  <!-- <div>
    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
  </div> -->

  {% buttons %}
    <button type="submit" class="btn btn-primary login-button">
      <!-- Log In {% bootstrap_icon "glyphicon glyphicon-tree-conifer" %} -->
      Log In {% bootstrap_icon "glyphicon glyphicon-log-in" %}
    </button>
  {% endbuttons %}
  </form>
</div>

{% endblock %}
