{% extends "base_generic.html" %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- <title>Ada Family Tree Students and Staff</title> -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.2/require.min.js" charset="utf-8"></script>

  </head>

  <style>
  .links line {
    stroke: #C6C7CA;
    stroke-opacity: 0.6;
  }
  .nodes circle {
    stroke: #fff;
    fill-opacity: 1;
    /* COMMENT OUT FOR GENERAL TOOLTIP /*
    /* pointer-events: none; */
  }

  .nodes cirle:hover {
    fill-opacity: 1;
  }

  </style>

  <body>
    <div class="mass-info">
      <div class="hidden member">
        <button class="member-close-btn" type="button">
          &times;
        </button>
        <p><span id="info-test">100</span></p>
      </div>

      <div class="d3-visual">
        <svg width="1900" height="700"></svg>
      </div>
    </div>

    <script>
      var studentData = JSON.parse("{{json|escapejs}}");
      //check that studentData is in correct format
      console.log(studentData);

      //create somewhere to put the force directed graph
      var svg = d3.select("svg"),
          width = +svg.attr("width"),
          height = +svg.attr("height");

      var color = d3.scaleOrdinal(d3.schemeCategory20);

      var simulation = d3.forceSimulation(studentData.nodes)
          .force("link", d3.forceLink().id(function(d) { return d.id; }))
          .force("charge", d3.forceManyBody().strength(-600).distanceMax(350).distanceMin(30))
          .force("center", d3.forceCenter(width / 2.6, height / 2.2));

      //add encompassing group for the zoom
      var container = svg.append("g")
          .attr("class", "everything");

      //DRAW LINES
      var link = container.append("g")
          .attr("class", "links")
        .selectAll("line")
        .data(studentData.links)
        .enter().append("line")
          .attr("stroke-width", function(d) { return Math.sqrt(d.value); });

      //DRAW CIRCLES
      // var node = svg.append("g")
      var node = container.append("g")
          .attr("class", "nodes")
        .selectAll("circle")
        .data(studentData.nodes)
        .enter()
        .append("circle")
          .attr("r", circleRadius)
          .attr("fill", function(d) { return color('d.cohort'); })
          .attr("fill", circleColour)
          //DRAG FUNCTION CALLS
          .call(d3.drag()
              .on("start", dragstarted)
              .on("drag", dragged)
              .on("end", dragended))
          //SHOW NODE DETAILS
          .on("dblclick", function(d) {
            console.log(d);
            if(d.type =="student") {
              d3.select("#info-test").html(`
                <section class="member-header">
                  <a href="${d.linkedin}">
                    <h2>${d.full_name}</h2>
                  </a>
                  <a href="${d.linkedin}">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                  </a>
                </section>

                <section class="member-details">
                  <h3>Cohort: ${d.cohort}</h3>
                  <ul>
                    <li>Pronouns: ${d.pronouns}</li>
                    <li>Ada Internship: ${d.internship}</li>
                    <li>Capstone Info: ${d.capstone}</li>
                  </ul>
                </section>
                `)
              d3.select(".member").classed("hidden", false);
            }
            else if (d.type =="cohort") {
              d3.select("#info-test")
                .html(`
                  <section class="member-header">
                    <h2>Cohort: ${d.full_name}</h2>
                  </section>
                  `)
                d3.select(".member").classed("hidden", false);
            }
            else if (d.type =="program") {
              d3.select("#info-test")
                .html(`
                  <section class="member-header">
                    <h2>Program: ${d.full_name}</h2>
                  </section>
                  `)
                d3.select(".member").classed("hidden", false);
            }
            else if (d.type =="staff") {
              d3.select("#info-test").html(`
                <section class="member-header">
                  <h2>${d.full_name}</h2>
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </section>

                <section class="member-details">
                  <h3>Cohorts: ${d.cohorts_served}</h3>
                  <ul>
                    <li>Pronouns: ${d.pronouns}</li>
                    <li>Description: ${d.description}</li>
                  </ul>
                </section>
              `)
              d3.select(".member").classed("hidden", false);
            }
          });

      node.append("title")
          .text(function(d) { return d.full_name; });

      simulation
          .nodes(studentData.nodes)
          .on("tick", ticked);

      simulation
          .force("link")
          .links(studentData.links);

      function ticked() {
        link
            .attr("x1", function(d) { return d.source.x; })
            .attr("y1", function(d) { return d.source.y; })
            .attr("x2", function(d) { return d.target.x; })
            .attr("y2", function(d) { return d.target.y; });
        node
            .attr("cx", function(d) { return d.x; })
            .attr("cy", function(d) { return d.y; });
      }

      // DRAG FUNCTIONS
      function dragstarted(d) {
        if (!d3.event.active) simulation.alphaTarget(0.3).restart();
        d.fx = d.x;
        d.fy = d.y;
      }
      function dragged(d) {
        d.fx = d3.event.x;
        d.fy = d3.event.y;
      }
      function dragended(d) {
        if (!d3.event.active) simulation.alphaTarget(0);
        //COMMENT LINES BELOW TO MAKE NODES STICKY
        // d.fx = null;
        // d.fy = null;
      }

      // COLOR FUNCTIONS
      //Function to choose what color circle we have
      function circleColour(d){
      	if (d.type =="cohort"){
      		return "#FFBC51";
      	}
        else if (d.type =="staff") {
          return "#999BEA";
        }
        else if (d.type =="program") {
          return "#83F1F0";
        }
        else {
      		return "#52E1FF";
      	}
      }

      // RADIUS FUNCTION
      function circleRadius(d){
        if (d.type =="cohort"){
          return "7";
        }
        else if (d.type =="staff") {
          return "6";
        }
        else if (d.type =="program") {
          return "10";
        }
        else {
          return "6";
        }
      }

      // ZOOM FUNCTIONS
      var zoom_handler = d3.zoom()
        .on("zoom", zoom_actions);

      zoom_handler(svg);

      function zoom_actions(){
        container.attr("transform", d3.event.transform)
      }

    </script>

  </body>
</html>

{% endblock %}
