{% extends "base_generic.html" %}
{% load static %}
{% load bootstrap3 %}

{% block content %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- <title>Ada Family Tree Home</title> -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.2/require.min.js" charset="utf-8"></script>

  </head>

  <style>
  .links line {
    stroke: #999;
    stroke-opacity: 0.6;
  }
  .nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
    fill-opacity: 1;
    /* COMMENT OUT FOR GENERAL TOOLTIP /*
    /* pointer-events: none; */
  }

  .nodes cirle:hover {
    fill-opacity: 1;
  }

  .svg-container {
  	display: inline-block;
  	position: relative;
  	width: 100%;
  	vertical-align: middle;
  	overflow: hidden;
  }

  </style>

  <body>
    <div id="tutorial">
      <div id="tutorial-msg" class="alert alert-success alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <p id="tutorial-heading">
          Explore the Ada Family Tree Now!
        </p>

        <p>
          <strong>NOTE :   </strong>
            Currently, node summaries (accessed by double-clicking a node) cannot be viewed on <em>mobile</em> devices. Mobile users are recommended to view trees with "Labels" from the menu.
        </p>
      </div>

      <div class="mass-info">
        <div class="hidden member">
          <button class="member-close-btn" type="button">
            &times;
          </button>
          <p><span id="info-test">100</span></p>
        </div>

        <div class="d3-visual-home svg-container">
          <svg></svg>
        </div>
      </div>
    </div>


    <script>
      var studentData = JSON.parse("{{json|escapejs}}");
      //check that studentData is in correct format
      // console.log(studentData);

      //create somewhere to put the force directed graph
      var svg = d3.select("svg"),
          width = +svg.attr("width"),
          height = +svg.attr("height");

      //make svg width and height responsive to different window sizes
      svg
       .attr("preserveAspectRatio", "xMinYMin meet")
       .attr("viewBox", "0 0 600 900")

      var color = d3.scaleOrdinal(d3.schemeCategory20);

      var simulation = d3.forceSimulation(studentData.nodes)
          .force("link", d3.forceLink().id(function(d) { return d.id; }))
          .force("charge", d3.forceManyBody().strength(-15).distanceMax(300).distanceMin(20))
          .force("center", d3.forceCenter(window.innerWidth/7, window.innerHeight/6));

      //add encompassing group for the zoom
      var container = svg.append("g")
          .attr("class", "everything");

      //DRAW LINES
      var link = container.append("g")
          .attr("class", "links")
        .selectAll("line")
        .data(studentData.links)
        .enter().append("line")
          .attr("stroke-width", function(d) { return Math.sqrt(d.value); });

      //DRAW CIRCLES
      var node = container.append("g")
          .attr("class", "nodes")
        .selectAll("circle")
        .data(studentData.nodes)
        .enter()
        .append("circle")
          // .attr("r", 6)
          .attr("r", circleRadius)
          .attr("fill", function(d) { return color('d.cohort'); })
          .attr("fill", circleColour)
          //DRAG FUNCTION CALLS
          .call(d3.drag()
              .on("start", dragstarted)
              .on("drag", dragged)
              .on("end", dragended))
          //SHOW NODE DETAILS
          .on("dblclick", function(d) {
            console.log(d);
            if(d.type =="student") {
              d3.select("#info-test").html(`
                <section class="member-header">
                  <a href="${d.linkedin}">
                    <h2>${d.full_name}</h2>
                  </a>
                  <a href="${d.linkedin}">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                  </a>
                </section>

                <section class="member-details">
                  <h3>Cohort: ${d.cohort}</h3>
                  <ul>
                    <li>Pronouns: ${d.pronouns}</li>
                    <li>Ada Internship: ${d.internship}</li>
                    <li>Capstone Info: ${d.capstone}</li>
                  </ul>
                </section>
                `)
              d3.select(".member").classed("hidden", false);
            }
            else if (d.type =="cohort") {
              d3.select("#info-test")
                .html(`
                  <section class="member-header">
                    <h2>Cohort: ${d.full_name}</h2>
                  </section>
                  `)
                d3.select(".member").classed("hidden", false);
            }
            else if (d.type =="program") {
              d3.select("#info-test")
                .html(`
                  <section class="member-header">
                    <h2>Program: ${d.full_name}</h2>
                  </section>
                  `)
                d3.select(".member").classed("hidden", false);
            }
            else if (d.type =="staff") {
              d3.select("#info-test").html(`
                <section class="member-header">
                  <h2>${d.full_name}</h2>
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </section>

                <section class="member-details">
                  <h3>Cohorts: ${d.cohorts_served}</h3>
                  <ul>
                    <li>Pronouns: ${d.pronouns}</li>
                    <li>Description: ${d.description}</li>
                  </ul>
                </section>
              `)
              d3.select(".member").classed("hidden", false);
            }
          });

      node.append("title")
          .text(function(d) { return d.full_name; });

      simulation
          .nodes(studentData.nodes)
          .on("tick", ticked);

      simulation
          .force("link")
          .links(studentData.links);

      function ticked() {
        link
            .attr("x1", function(d) { return d.source.x; })
            .attr("y1", function(d) { return d.source.y; })
            .attr("x2", function(d) { return d.target.x; })
            .attr("y2", function(d) { return d.target.y; });
        node
            .attr("cx", function(d) { return d.x; })
            .attr("cy", function(d) { return d.y; });
      };

      // DRAG FUNCTIONS
      function dragstarted(d) {
        if (!d3.event.active) simulation.alphaTarget(0.3).restart();
        d.fx = d.x;
        d.fy = d.y;
      };
      function dragged(d) {
        d.fx = d3.event.x;
        d.fy = d3.event.y;
      };
      function dragended(d) {
        if (!d3.event.active) simulation.alphaTarget(0);
        //COMMENT LINES BELOW TO MAKE NODES STICKY
        // d.fx = null;
        // d.fy = null;
      };

      // COLOR FUNCTION
      //Function to choose what color circle we have
      function circleColour(d){
      	if (d.type =="cohort"){
      		return "#FFBC51";
      	}
        else if (d.type =="staff") {
          return "#999BEA";
        }
        else if (d.type =="program") {
          return "#83F1F0";
        }
        else {
      		return "#52E1FF";
      	}
      }

      // RADIUS FUNCTION
      function circleRadius(d){
        if (d.type =="cohort"){
          return "7";
        }
        else if (d.type =="program") {
          return "10";
        }
        else {
          return "6";
        }
      }

      // ZOOM FUNCTIONS
      var zoom_handler = d3.zoom()
        .on("zoom", zoom_actions);

      zoom_handler(svg);

      function zoom_actions(){
        container.attr("transform", d3.event.transform)
      }


    </script>


    <div id="general-info">
      <div id="intro" class="col-md-12">
        <h1 id="overview-h1">Overview</h1>
            <p id="overview-text">
              Use the collapsible sidebar menu to navigate between different family tree options: "Students", "Students & Instructors", "Instructional Staff", "Internship Network", and "Capstone Technologies".
            </p>

          <h4 id="family-tree-features-h4">Family Tree Features</h4>
            <ul id="family-tree-features">
              <li class="how-to">
                <h5 class="li-header-5">NODE SUMMARIES</h5>
                <p>
                  Double-click on tree nodes to zoom in and read node information on a member, company, cohort, and capstone technology.
                </p>
              </li>
              <li class="how-to">
                <h5 class="li-header-5">NODE LABELS</h5>
                <P>
                  Hover over nodes to display their titles, or select options with "Labels" from the sidebar menu.
                </P>
              </li>
              <li class="how-to">
                <h5 class="li-header-5">DRAGGABLE NODES</h5>
                <P>
                  Click and hold down on a node to move its position.
                </P>
              </li>
              <li class="how-to">
                <h5 class="li-header-5">RECENTER</h5>
                <P>
                  Click on any empty canvas space (outside of the node or tree) and drag the canvas to recenter your view.
                </P>
              </li>
              <li class="how-to">
                <h5 class="li-header-5">NIGHT MODE</h5>
                <p>
                  Use the Night Mode Switch to toggle between light (default) or dark displays.
                </p>
              </li>
              <li class="how-to">
                <h5 class="li-header-5">ZOOM & PAN</h5>
                <p>
                  Scroll or swipe to zoom and resize your view of the visuals.
                </p>
              </li>
            </ul>
          <div class="content-divider">
      </div>

      <div class="col-md-4 home-info">
        <h2>Mission</h2>

        <p>
          Welcome and thank you for using the Ada Family Tree! This web application aims to accomplish two main objectives:
        </p>

        <ul>
          <li class="mission-item">
            Visually <strong>map the growth</strong> of the Ada social network
          </li>
          <li class="mission-item">
            Help members of the Ada family <strong>connect</strong> and <strong>learn more</strong> about members of our Ada community
          </li>
        </ul>

        <p>
          As a capstone project, this web app is still a work in progress. Feedback, suggestions, or questions are all welcome! Please send all inquiries to: jedrozo@gmail.com
        </p>

      </div>


      <div class="col-md-4 home-info">
        <h2 id="about">About</h2>
          <p>
            Ada has a growing legacy wall of photos that documents its previous and current cohort of Ada students. For many of us, we've learned about former Adies from this "wall" of photos, in addition to meet-ups, occasional anecdotes, LinkedIn, and of course Google. However, the wall comes with its limitations and limited real estate.
          </p>
          <p>
            The <a href="https://github.com/JNEdrozo/adaFamilyTree" id="about-link">Ada Family Tree capstone project</a> attempts to provide a digital platform to enhance how we connect and visualize the explosive growth of our Ada community. Using PostgreSQL, Python, Django and Data-Driven-Documents (D3), the Ada Family Tree can be used to map the expansion of Ada's ever-growing social network, make connections with other members of the Ada family, and encourage the flow of knowledge sharing.
          </p>
      </div>

      <div class="col-md-4 home-info">

        <h2 id="privacy">Privacy</h2>
          <p>
            To respect privacy concerns, currently only Ada staff and <em>approved</em> users (e.g. Ada Admin Staff, developers, and test users of this tool) may view or edit the family tree, until further notice. Ada staff may share the family tree with their students on a need-to-know-basis or, where valid reasons apply.
          </p>


        <h4 class="header-4-space">Disclaimer:</h4>
          <ul>
            <li>
              Data represented in this app was sourced from an online survey requesting voluntary input. All data and survey responses will be released and shared with the Ada Developers Academy administration team to build on their current student/staff demographics.
            </li>
          </ul>
      </div>

    </div>

  </body>

  <footer id="footer-home">
    <a href="https://github.com/JNEdrozo/adaFamilyTree">&copy; JNEdrozo 2018</a>
  </footer>

</html>

{% endblock %}
