#title{
  /* font-family: 'Ubuntu', sans-serif; */
  /* font-family: 'Macondo Swash Caps', cursive; */
  font-family: 'Barrio', cursive;
  color: #FCA205;
  /* color: #0E7C7B; */
  text-align: left;
  font-size: 3em;
  padding-left: 5px;
  padding-top: 5px;
}

.sidebar-nav {
    margin-top: 30px;
    padding: 0;
    list-style: none;
}

.login-info li {
  list-style: none;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: .01rem;
  background-color: #efefef;
  text-align: center;
}
