#title{
  /* font-family: 'Ubuntu', sans-serif; */
  /* font-family: 'Macondo Swash Caps', cursive; */
  font-family: 'Barrio', cursive;
  color: #FCA205;
  /* color: #0E7C7B; */
  text-align: center;
  font-size: 5em;
  padding-left: 5px;
  padding-top: 5px;
}

.sidebar-nav {
  margin-top: 30px;
  padding: 0;
  list-style: none;
}

.sidebar-nav a, .login-info a{
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
}

.login-info li {
  list-style: none;
}

.base-header-footer-container h1 {
  text-align: middle;
}

.login-button {
  width: 25vw;
}
#base-container {
  margin-top: 70px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: .01rem;
  background-color: #efefef;
  text-align: center;
}
