<!DOCTYPE html>
<html>
  <head>
    {% block title %}<title>Ada Family Tree</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Macondo+Swash+Caps" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Barrio" rel="stylesheet">

    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

  </head>
  <body>

    <div id="base-container" class="col-lg-4 col-lg-offset-4">
      <header>
        <h1 id="title">Ada Family Tree</h1>
      </header>

      <div >
        {% block content %}
        {% endblock %}
      </div>
    </div>

    <footer id="footer-log">
      <h5><a href="https://github.com/JNEdrozo/adaFamilyTree" class="grow">&copy; JNEdrozo 2018</a></h5>
    </footer>

  </body>
</html>
