<!DOCTYPE html>
<html>
  <head>
    {% block title %}<title>Ada Family Tree</title>{% endblock %}
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script rel="stylesheet" type="text/css" src="https://use.fontawesome.com/1b2f3fce2e.js"></script>

    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="shortcut icon" href="{% static 'favicon2.ico'%}">

    {% load bootstrap3 %}
  </head>
  <body>
    <div class="wrapper">

      <nav id="sidebar">
        <!-- Sidebar Header -->
        <div class="sidebar-header">
          <h3>Family Tree Menu</a></h3>
        </div>

        <!-- Sidebar Links -->
        <ul class="components list-unstyled">
          <li><a href="/">Home</a></li>
          <li>
              <a href="#studentSubmenu" data-toggle="collapse" aria-expanded="false">Students</a>
              <ul class="collapse list-unstyled" id="studentSubmenu">
                  <li><a href="/students/">Ada Students</a></li>
                  <li><a href="/studentsLabel/">Ada Students - Labels</a></li>
              </ul>
          </li>
          <li>
              <a href="#studStaffSubmenu" data-toggle="collapse" aria-expanded="false">Students & Instructors</a>
              <ul class="collapse list-unstyled" id="studStaffSubmenu">
                  <li><a href="/adaTree/">Ada Students & Instructors</a></li>
                  <li><a href="/adaTreeLabel/">Ada Students & Instructors - Labels</a></li>
              </ul>
          </li>
          <li>
              <a href="#staffSubmenu" data-toggle="collapse" aria-expanded="false">Instructional Staff</a>
              <ul class="collapse list-unstyled" id="staffSubmenu">
                  <li><a href="/staffTree/">Ada Instructors</a></li>
                  <li><a href="/staffTreeLabel/">Ada Instructors - Labels</a></li>
              </ul>
          </li>
          <li>
              <a href="#internshipSubmenu" data-toggle="collapse" aria-expanded="false">Internship Network</a>
              <ul class="collapse list-unstyled" id="internshipSubmenu">
                  <li><a href="/internships/">Ada Student Internships</a></li>
                  <li><a href="/internshipsLabel/">Ada Student Internships - Labels</a></li>
              </ul>
          </li>
          <li>
              <a href="#capstoneSubmenu" data-toggle="collapse" aria-expanded="false">Capstone Technologies</a>
              <ul class="collapse list-unstyled" id="capstoneSubmenu">
                  <li><a href="/capstoneTech/">Ada Student Capstone Tech</a></li>
                  <li><a href="/capstoneTechLabel/">Ada Student Capstone Tech - Labels</a></li>
              </ul>
          </li>
          <li id="night-mode-start">
            <section id="night-mode-box">
              <p>Night Mode</p>
              <label class="switch">
                <input type="checkbox"></input>
                <span class="slider" id="night-option"></span>
              </label>
            </section>
          </li>
        </ul>

        <div class="sidebar-header">
          <section class="login-info">
            <ul class="CTAs">

            {% if user.is_authenticated %}
              <li>
                {% bootstrap_icon "glyphicon glyphicon-user" %}
                <h5>User: {{ user.get_username }}</h5>
              </li>
              <li>
                <a href="{% url 'logout'%}?next={{request.path}}" class="download">Logout</a>
              </li>
            {% endif %}

            {% if request.user.is_staff %}
              <li><a href="/admin/" class="article">View Admin Site</a></li>
            {% endif %}
            </ul>

          </section>
        </div>

        <section class="footer-info">
          <h5><a href="https://github.com/JNEdrozo/adaFamilyTree" class="grow">&copy; JNEdrozo 2018</a></h5>
        </section>


      </nav>

      <!-- Page Content -->
      <div id="content">
        <nav class="navbar navbar-default head-nav">
          <div class="container-fluid">

            <div class="navbar-header">
              <button type="button" id="sidebarCollapse" class="navbar-btn grow">
                  <span></span>
                  <span></span>
                  <span></span>
              </button>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <a href="/"><h5 class="header-logo grow glow">Ada Family Tree</h5></a>
              <ul class="nav navbar-nav navbar-right">
                <!-- {% if user.is_authenticated %}
                  <li><a href="#">{{ user.get_username }}</a></li>
                  <li><a href="{% url 'logout'%}?next={{request.path}}" class="download">Logout</a></li>
                {% endif %} -->
              </ul>
            </div>


          </div>
        </nav>

        <!-- <div class="show-node-labels">
          <button type="button">Show Labels</button>
        </div> -->

        <section id="tree-visual">
          {% block content %}
          {% endblock %}
        </section>

      </div>

    </div>
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Bootstrap Js CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="{% static 'js/slide.js' %}"></script>
  </body>
</html>
