<!DOCTYPE html>
<html>
  <head>
    {% block title %}<title>Ada Family Tree</title>{% endblock %}
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="shortcut icon" href="{% static 'favicon2.ico'%}">
  </head>
  <body>
    <div class="wrapper">

      <nav id="sidebar">
        <!-- Sidebar Header -->
        <div class="sidebar-header">
          <h3>Family Tree Menu</a></h3>
        </div>

        <!-- Sidebar Links -->
         <ul class="list-unstyled components">
          <li class="active"><a href="#">Family Filters</a></li>
           <li><a href="/">Ada Students</a></li>
           <li><a href="/adaTree/">Ada Students & Instructors</a></li>
           <li><a href="/staffTree/">Ada Instructors</a></li>
           <li><a href="/internships/">Ada Student Internships</a></li>
           <li><a href="/capstoneTech/">Ada Student Capstone Tech</a></li>

           <li class="active"><!-- Link with dropdown items -->
               <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Page</a>
               <ul class="collapse list-unstyled" id="homeSubmenu">
                   <li><a href="#">Page</a></li>
                   <li><a href="#">Page</a></li>
                   <li><a href="#">Page</a></li>
               </ul>

         </ul>

        <section class="login-info">
          <ul class="list-unstyled CTAs">

          {% if user.is_authenticated %}
            <li>User: {{ user.get_username }}</li>
            <li><a href="{% url 'logout'%}?next={{request.path}}" class="download">Logout</a></li>
          {% endif %}

          {% if request.user.is_staff %}
            <li><a href="/admin/" class="article">View Admin Site</a></li>
          {% endif %}
          </ul>

        </section>

        <section class="footer-info">
          <h5>&copy; 2018</h3>
        </section>


      </nav>

      <!-- Page Content -->
      <div id="content">
        <nav class="navbar navbar-default head-nav">
          <div class="container-fluid">

            <div class="navbar-header">
              <button type="button" id="sidebarCollapse" class="navbar-btn">
                  <span></span>
                  <span></span>
                  <span></span>
              </button>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <a href="/"><h5 class="header-logo">Ada Family Tree</h5></a>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#" id="night-option">Night Mode</a></li>
                <li><a href="#">Page</a></li>
                <li><a href="#">Page</a></li>
                <li><a href="#">Page</a></li>
              </ul>
            </div>
          </div>
        </nav>

        <section id="tree-visual">
          {% block content %}
          {% endblock %}
        </section>

        <section id="node-info">

        </section>
      </div>

    </div>

    <!-- <footer>
      <h5>&copy; 2017</h3>
    </footer> -->

    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Bootstrap Js CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'js/slide.js' %}"></script>
  </body>
</html>
